# install artefacts
**/tmp
**/logs
**/*.deb

# ssh env
**/id_rsa*
**/known_hosts*

# setup files
**/plugged
**/autoload
**/completions
**/conf.d
**/fish_variables
**/gcloud
**/coc
**/configstore
**/wslu
**/TabNine
**/firebase
**/pypoetry
