# ide
.vscode

# install artefacts
tmp
temp
**/logs
**/*.deb

# ssh env
**/id_*
**/known_hosts*
**/config.d

# setup files
**/autoload
**/pypoetry

# vim plugins (installed via install script)
home/.vim/pack

