alias bench='ZSH_BENCH=1 exec zsh'
alias dots='cd $DOTFILES'
alias j='z'
alias ji='zi'
alias reload='source ~/.zshrc'
alias reload-path='rm -f "${XDG_CACHE_HOME:-$HOME/.cache}/dots/path" && exec zsh'
alias reload-cache='rm -rf "${XDG_CACHE_HOME:-$HOME/.cache}/dots" ~/.zcompdump* && exec zsh'
alias zen='curl -s https://api.github.com/zen && echo'
alias la='ls -la'
alias vi='vim'
alias copilot='gh copilot'
alias cs='gh cs ssh'
alias colby='copilot --allow-all-tools --allow-all-paths'
alias gs='git s'
alias gd='git d'
alias gdc='git dc'
alias gc='git c'
alias gl='git ld'
alias ga='git a'
alias gr='git r'

