name: Dotfiles CI
on: [push]

jobs:
  tests:
    name: Run test suite
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dockerfile: [Dockerfile, Dockerfile.arch]
    steps:
      - uses: actions/checkout@v6.0.2

      # Run the tests
      - name: Run tests (${{ matrix.dockerfile }})
        env:
          DOCKERFILE: ${{ matrix.dockerfile }}
        run: ./script/test
